@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	background-color: #f53844;
	border-radius: 5px;
}
